.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3)!important;
}

.bg-primary {
    background-color: #3D405B !important;
}

.primary {
    background-color: #3D405B !important;
}

.hover {
    cursor: pointer;
}